@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.primary-text {
  color: #82C7C3;
}

.active {
  color: #82C7C3 !important;
}

.primary-divider {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5rem 0;
}
.primary-divider span {
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: #ffab00;
}

.nav {
  background-color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
}
.nav .logo {
  color: #82C7C3;
}
.nav .close-btn {
  display: none;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
  padding: 0.5em;
}
.nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  margin: 0 0.5em;
}

#main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-section .text {
  margin-left: 15vw;
}
#main-section .text h1 {
  color: #000000B8;
  font-size: 3rem;
}
#main-section .text h3 {
  color: #999999;
  font-size: 1.5rem;
  margin-top: 1em;
}

#about-section {
  display: flex;
}
#about-section .left-side {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
#about-section .left-side .img-wrap {
  width: 90%;
  max-width: 560px;
  margin-right: 1rem;
  height: 90%;
}
#about-section .left-side .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#about-section .right-side {
  flex: 1;
}
#about-section .right-side .text {
  max-width: 50%;
  padding-left: 1.5em;
}
#about-section .right-side .text h1 {
  font-size: 3rem;
}
#about-section .right-side .text h2 {
  margin-top: 0.5em;
}
#about-section .right-side .text p {
  margin-top: 1em;
  font-size: 1.2rem;
}

#teams-section > h3 {
  margin: 2rem 0;
  text-align: center;
}
#teams-section .card-wrap {
  display: flex;
  gap: 1rem;
  justify-content: center;
  overflow-x: scroll;
  padding: 1em;
}
#teams-section .card-wrap::-webkit-scrollbar {
  display: none;
}
#teams-section .card-wrap .card-area {
  width: 300px;
  height: 500px;
  flex: none;
}
#teams-section .card-wrap .card-area .card {
  background: #3fc7c0;
  background: linear-gradient(180deg, #3fc7c0 0%, #aae7e4 33%, white 42%, white 100%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#teams-section .card-wrap .card-area .card .img-wrap {
  width: 15em;
  height: 15em;
  padding: 1em;
}
#teams-section .card-wrap .card-area .card .img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#teams-section .card-wrap .card-area .card .description h3 {
  text-align: center;
  margin: 0.5em 0;
  color: #000000B8;
}
#teams-section .card-wrap .card-area .card .description h4 {
  color: #000000B8;
  text-align: center;
  margin-bottom: 0.5em;
}
#teams-section .card-wrap .card-area .card .description p {
  color: #999999;
  margin: 0 auto;
  text-align: center;
  max-width: 85%;
}

#contact-section {
  background-color: #82C7C3;
  color: #fff;
}
#contact-section .wrap {
  display: flex;
  justify-content: space-around;
}
#contact-section .wrap .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-section .wrap .info ul li {
  padding: 0.3em;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}
#contact-section .wrap .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}
#contact-section .wrap .logo .text p {
  color: whitesmoke;
}

@media screen and (max-width: 1785px) {
  #about-section .right-side .text {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }

  .nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
    position: relative;
  }
  .nav .close-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .nav .close-btn i {
    font-size: 1.5rem;
    color: #82C7C3;
  }
  .nav .logo {
    color: #82C7C3;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav ul li {
    text-align: center;
    list-style: none;
    padding: 0.5em;
  }
  .nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin: 0 0.5em;
  }

  #main-section {
    height: 70vh;
  }
  #main-section .text {
    margin-left: 1em;
  }
  #main-section .text h1 {
    font-size: 2rem;
  }
  #main-section .text h3 {
    font-size: 1.2rem;
  }

  #about-section {
    flex-direction: column;
  }
  #about-section .left-side {
    justify-content: center;
    margin-right: 0;
  }
  #about-section .left-side .img-wrap {
    margin-right: 0;
  }
  #about-section .right-side {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  #about-section .right-side .text {
    max-width: 90%;
    padding-left: 0;
  }

  #teams-section .card-wrap {
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
  }
  #teams-section .card-wrap .card-area {
    width: 100vw;
    scroll-snap-align: start;
  }
  #teams-section .card-wrap .card-area .card {
    width: 70%;
    max-width: 290px;
    margin: 0 auto;
  }

  #contact-section .wrap {
    display: flex;
    flex-direction: column;
  }
  #contact-section .wrap .info {
    display: flex;
    justify-content: center;
  }
  #contact-section .wrap .info ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact-section .wrap .logo {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  }
  #contact-section .wrap .logo .text p {
    color: whitesmoke;
  }
}

/*# sourceMappingURL=index.css.map */
